@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@40,700,0,200');


/* definicion de constantes de colores */
:root {
		--color-blanco: #f3f3f3;
		--color-azulado: #1b2430;
    --color-navy: #51557E;
    --color-purpura: #816797;
    --color-sunset: #CA4E79;
    --color-beige: #D6D5A8;
    --color-naranja: #ff9945;
    --color-fondo1: rgba(90, 60, 150, 0.8);
    --color-fondo2: rgba(30, 130, 200, 0.8);
    --color-gradiente: linear-gradient(
      30deg,
      var(--color-navy),
      var(--color-purpura)
    );
    
	}

body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: #2f3542; */
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* No Scrollbar */
    overflow: hidden;
}

.form-box {
    width: 300px;
    padding: 40px;
    background: #191919;
    text-align: center;
}

.form-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"], .form-box input[type="password"], .form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3742fa;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus, .form-box input[type="password"]:focus {
    width: 280px;
    border-color: #ffffff;
}

.form-box button[type="submit"] {
    border: 0;
    background: #5352ed;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3742fa;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.form-box button[type="submit"]:hover {
    background: none;
}