body {
  font-family: sans-serif;
}

.carousel {
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  
}

.slides {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  
  
}

.slides::-webkit-scrollbar {
  display: none;
  
}

.slides-item {
  align-items: center; 
  border-radius: 20px;
  display: flex;
  flex-shrink: 0;
  font-size: 20px;
  height: 600px;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  scroll-snap-align: start;
  transform: scale(1);
  transform-origin: center center;
  transition: transform .5s;
  width: 100%;
}

.carousel__nav {
  padding: 1.25rem .5rem;
}

.slider-nav {
  align-items: center;
  background-color: #ddd;
  border-radius: 30%;
  color: #000;
  display: inline-flex;
  height: 1.5rem;
  justify-content: center;
  padding: .5rem;
  position: relative;
  text-decoration: none;
  width: 3.5rem;
}

.slider-nav:hover,
.slider-nav:active {
  background-color: #000;
  color: #fff;
}

.slide-text {
  max-width: 600px;
}

.slide-1{
  background-color: lightblue;
  flex-direction: column;
  align-content: space-around;    
}

.slide-img {
  border-radius: 40px;
  width: 500px;
  height: auto
}


.slide-2 {
  background-color: lightseagreen;
  flex-direction: column;
  align-content: space-around;  
}

.slide-3 {
  background-color: #cdf;
}

.slide-4 {
  background-color: #dca;
}

.slide-5 {
  background-color: #ffc;
}

.carousel__skip-link {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.carousel__skip-link:focus {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 30px;
  height: 680px;
  justify-content: center;
  opacity: .8;
  text-decoration: none;
  width: 100%;
  z-index: 1;
}
