@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@40,700,0,200');


/* definicion de constantes de colores */
:root {
		--color-blanco: #f3f3f3;
		--color-azulado: #1b2430;
    --color-navy: #51557E;
    --color-purpura: #816797;
    --color-sunset: #CA4E79;
    --color-beige: #D6D5A8;
    --color-naranja: #ff9945;
    --color-fondo1: rgba(90, 60, 150, 0.8);
    --color-fondo2: rgba(30, 130, 200, 0.8);
    --color-gradiente: linear-gradient(
      30deg,
      var(--color-navy),
      var(--color-purpura),
      var(--color-purpura)
    );
    
	}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 
  
}

body {
  background: var(--color-gradiente);
  

}

.mainframe {
  position: fixed;
  display: flex;
  inset: 60px 20px 10px 90px;
  width: 100wv;
  min-width: 400px;
  min-height: 400px;
  background: var(--color-beige);
  transition: 0.3s;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
  background-color: Transparent;

}

.iframe {
  width: 100%;
  height: 100%;
  border-style: none;
   
}

.encabezado {
  width: 100%;
  height: 50px;
  /* min-height: 100vh; */
  display: flex;
  justify-content: space-around ;
  align-items: center;
  position: absolute;
  top: 0;
  left: 100;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}


.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.navigation {
  position: fixed;
  display: flex;
  inset: 60px 0 60px 10px;
  width: 70px;
  min-height: 500px;
  background: var(--color-beige);
  transition: 0.3s;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  
}

.navigation.open {
  width: 180px;
  z-index: 2;

}

.navigation .menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--color-navy);
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  
}

.navigation .menu-toggle::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: var(--color-azulado);
  transform: translateY(-8px);
  transition: 0.5s;
}

.navigation.open .menu-toggle::before {
  transform: translateY(0) rotate(45deg);
}

.navigation .menu-toggle::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: var(--color-azulado);
  transform: translateY(8px);
  transition: 0.8s;
  box-shadow: 0 -8px 0 var(--color-azulado);
}

.navigation.open .menu-toggle::after {
  transform: translateY(0) rotate(-45deg);
  box-shadow: none;
  transition: 0.8s;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  gap: 5px; /* separacion de iconos V */
  width: 100%;
  
}


.navigation ul li {
  list-style: none;
  position: relative;
  width: 100%;
  height: 50px; /* separacion de iconos V */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
  transition: 0.2s;
}


/* movimientop horizontal de iconos menu cerrado */
.navigation ul li.active {
  transform: translateX(10px); 
}

/* movimientop horizontal de iconos menu abierto*/
.navigation.open ul li.active {
  transform: translateX(10px); 
}

/* estilo de iconos del menu 1 */
.navigation ul li a {
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
}

/* estilo de iconos del menu 2 */
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  color: var(--color-azulado);
  opacity: 90%;
  border-radius: 50%;
  font-size: 1.75em;
  transition: 0.3s;
}

/* menu resaltado */
.navigation ul li.active a .icon {
  color: var(--color-blanco);
  background: var(--color);
  
}

/* analizar */
.navigation ul li a .icon::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 10px;
  filter: blur(8px);
  opacity: 0;
  transition: 0.2s;
}


/* texto de los menues */
.navigation ul li a .text {
  position: relative;
  padding: 0 15px;
  height: 60px;
  display: flex;
  align-items: center;
  color: var(--color-navy);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

/* muestra palabras al abrir menu*/
.navigation.open ul li a .text {
  opacity: 1;
  visibility: visible;
}

/* color del menu seleccionado */
.navigation ul li.active a .text {
  color: var(--color-azulado);
} 



@media (min-width: 768px) and (max-width: 1096px) {
.container {
	width: 100%;
}
