@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,700,1,200');


/* definicion de constantes de colores */
:root {
  --color-blanco: #f3f3f3;
  --color-azulado: #1b2430;
  --color-navy: #51557E;
  --color-purpura: #816797;
  --color-sunset: #CA4E79;
  --color-beige: #D6D5A8;
  --color-naranja: #ff9945;
  --color-fondo1: rgba(90, 60, 150, 0.8);
  --color-fondo2: rgba(30, 130, 200, 0.8);
  --color-gradiente: linear-gradient(30deg, var(--color-navy), var(--color-purpura), var(--color-sunset));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: var(--color-gradiente);
}

.mainframe {
  position: fixed;
  display: flex;
  inset: 100px 20px 10px 80px;
  min-width: 400px;
  min-height: 400px;
  transition: 0.3s;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  overflow: visible;
  z-index: 1;
  background-color: transparent;

}

.mainframe.open {
  margin-left: 120px;
}

.iframe {
  width: 100%;
  height: 100%;
  border-style: none;
  overflow: visible;
  border-radius: 20px;
}

.encabezado {
  display: flex;
  overflow: hidden;
  /* position: fixed; */
  min-width: 350px;
  width: 100%;
  height: 120px;
  /* min-height: 100vh; */
  /* display: flex;  */
  align-content: center;
  justify-content: center;
  align-items: center;
  /* background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */

}

.logo-img {
  position: fixed;
  top: 5px;
  left: 5px;
  margin: 10px;

}

.logo-txt {
  position: fixed;
  top: 30px;
  left: 5px;
  z-index: 1;
  color: var(--color-fondo1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}


.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.navigation {
  position: fixed;
  display: flex;
  inset: 120px 0 60px 10px;
  width: 60px;
  max-height: 450px;
  background: var(--color-beige);
  transition: 0.3s;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;

}

.navigation.open {
  width: 180px;
  z-index: 2;

}

.navigation .menu-toggle {
  position: absolute;
  top: 5px;
  left: -5px;
  width: 80px;
  height: 40px;
  border-bottom: 1px solid var(--color-navy);
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;

}

.navigation .menu-toggle::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: var(--color-azulado);
  transform: translateY(-8px);
  transition: 0.5s;
}

.navigation.open .menu-toggle::before {
  transform: translateY(0) rotate(45deg);
}

.navigation .menu-toggle::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: var(--color-azulado);
  transform: translateY(8px);
  transition: 0.8s;
  box-shadow: 0 -8px 0 var(--color-azulado);
}

.navigation.open .menu-toggle::after {
  transform: translateY(0) rotate(-45deg);
  box-shadow: none;
  transition: 0.8s;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  /* separacion de iconos V */
  width: 100%;

}

.navigation ul li {
  list-style: none;
  position: relative;
  width: 100vw;
  height: 50px;
  /* separacion de iconos V */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}


/* movimientop horizontal de iconos menu cerrado */
.navigation ul li.active {
  transform: translateX(10px);
}

/* movimientop horizontal de iconos menu abierto*/
.navigation.open ul li.active {
  transform: translateX(10px);
}

/* estilo de iconos del menu 1 */
.navigation ul li a {
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;

}

/* estilo de iconos del menu 2 */
.navigation ul li a .icon {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 2.5rem;
  color: var(--color-azulado);
  opacity: 90%;
  border-radius: 50%;
  font-size: 1.5em;
  transition: 0.3s;

}

/* menu resaltado */
.navigation ul li.active a .icon {
  color: var(--color-blanco);
  background: var(--color-azulado);
  left: 3px;
}

/* analizar */
.navigation ul li a .icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 10px;
  filter: blur(10px);
  opacity: 1;
  transition: 0.2s;
}


/* texto de los menus */
.navigation ul li a .text {
  position: relative;
  padding: 0 15px;
  height: 60px;
  display: flex;
  align-items: center;
  color: var(--color-navy);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}



/* muestra palabras al abrir menu*/
.navigation.open ul li a .text {
  opacity: 1;
  visibility: visible;
}

/* color del menu seleccionado */
.navigation ul li.active a .text {
  color: var(--color-azulado);
}

.separador {
  margin: 10px 5px 0 5px;
  border-bottom: 1px solid;
}

/* cortes de pantalla */

@media all and (max-height: 550px) {

  .navigation ul {

    width: 260px;
    position: absolute;
    justify-content: left;
    /* left: 80px; */
    flex-direction: row;
  }

  .navigation .menu-toggle {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .navigation {
    display: flex;
    position: relative;
    flex-direction: row;
    inset: 0px 5px 0 10px;
    min-width: 300px;
    width: 96%;
    height: 45px;
    transition: 0.3s;
    /* justify-content: space-evenly; */


  }

  .navigation ul li {
    width: 50px;
    justify-content: left;

  }

  .navigation ul li.active {
    transform: translatey(5px);
  }

  .mainframe {
    min-height: 100px;
    inset: 170px 20px 10px 20px;
    overflow: visible;
  }

}

@media all and (max-width: 480px) {

  .container {
    min-width: 450px;
  }

  .separador {
    margin-top: 10px;
    padding-left: 100px;
  }

}

@media all and (max-width: 600px) {

  .separador {
    padding-left: 100px;
  }

}

@media all and (min-width: 768px) and (max-width: 1096px) {
  .container {
    width: 100%;
  }

  body {
    min-height: 550px;
  }
}