@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@40,700,0,200');


/* definicion de constantes de colores */
:root {
		--color-blanco: #f3f3f3;
		--color-azulado: #1b2430;
    --color-navy: #51557E;
    --color-purpura: #816797;
    --color-sunset: #CA4E79;
    --color-beige: #D6D5A8;
    --color-naranja: #ff9945;
    --color-fondo1: rgba(90, 60, 150, 0.8);
    --color-fondo2: rgba(30, 130, 200, 0.8);
    --color-gradiente: linear-gradient(
      30deg,
      var(--color-navy),
      var(--color-purpura),
      var(--color-sunset)
    );
    --color-gradiente2: linear-gradient(
      30deg,
      var(--color-sunset),
      var(--color-navy)
    );
    
	}

* {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

body {
  background: var(--color-gradiente);
}

h1,
h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  margin: 2rem;
}

img {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.description {
  font-style: italic;
  font-weight: 300;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.carousel {

  overflow: auto;
  text-align: center;
  border:none;
}

.slides {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border: none;
}

.slides::-webkit-scrollbar {
  display: none;
  border: none;

}

.slides-item {
  background-color: var(--color-azulado);
  color: var(--color-beige);
  align-items: center;
  display: flex;
  flex-shrink: 0;
  scroll-snap-align: start;
  transform: scale(1);
  transform-origin: center center;
  transition: transform .5s;
  width: 100%;
}

.carousel__nav {
  padding: 1.25rem .5rem;
  margin: 5px;
  overflow: auto;
  text-align: center;
  align-items: center;
}

.slider-nav {
  align-items: center;
  background-color: var(--color-beige);
  border-radius: 30%;
  display: inline-flex;
  /* height: 20px;
  width: 120px; */
  justify-content: center;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  
}

.slider-nav:hover,
.slider-nav:active {
  background-color: var(--color-azulado);
  color: var(--color-beige);
  text-shadow: 1px 1px 1px var(--color-naranja);
}



.slide-1,
.slide-2,
.slide-3,
.slide-4 {
  position:relative;
  background-color: transparent;
  flex-direction: column;
  align-content: space-around;
}


.slide-img {
  border-radius: 40px;
  width: 80vw;
  max-width: 600px;
  height: auto;

}

.iframe-login {
  position: fixed;
  display: flex;
  inset: 0px;
  width: 100wv;
  min-width: 400px;
  min-height: 400px;
  transition: 0.3s;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  background-color: transparent;

}

#iframe-login {
  width: 100%;
  height: 100%;
  border-style: none;

}

/* estilos de about us */

.ceos {
  display: flex;
  align-content:row;
}

.ceo-img {
  height: 135px;
  width: auto;
  border-radius: 10px;
}

.ceo-txt {
  min-width: 300px;
  font-size: 0.9rem;
  padding: 0;
  text-align: justify;
}

/* Estilos del form contacto */

.form-contacto{
  display: block;
  text-align-last: center;
  max-width: 400px;
  height: 200px;
}

label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: inherit;
}

#dropdown {
  height: 40px;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 1rem;
  padding: 0.5rem 0.75rem;
  color: #495057;
  border-radius: 20px;
  
}

.form-control:focus {
  border-color: var(--color-fondo2);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio {
  display: inline-block;
  margin-right: 0.5rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  padding: 0.5rem;
  resize: vertical;
  border-radius: 10px;
}

.submit-button {
  font-size: 1.1rem;
  display: block;
  width: 70%;
  padding: 1rem;
  background-color: var(--color-naranja);
  border-radius: 50px;
  cursor: pointer;
  margin: 0.5rem auto 1rem auto;
} 


/* cortes por tamaño de screen */

@media all and (min-width: 360px) and (max-width: 768px) {

  #principal {
    max-width: 750px;
  }
  .ceos {
    display: block;
    min-width:400px;
  }

}

@media all and (min-width: 769px) and (max-width: 900px) {

  .ceos {
    display: block;
    min-width:400px;
  }

  .description,
  .slide-text {
    max-width: 600px;
  }
  
  .carousel {
    max-width: 800px;
  }
}

@media all and (min-width: 901px) {

  .description,
  .slide-text {
    max-width: 800px;
  }

}

 /* Se agrega el color a mano porque es sencillo ya que se usa puntualmente acá*/
 @keyframes animate {

  0%,
  100% {
      color: var(--color-blanco);
  }

  25% {
      color: red;
  }

  50% {
      color: var(--color-blanco);
  }

  75% {
      color: red;
  }
}
